
body {
	font-family: "Book Antiqua", Georgia, serif;
}

div {
	padding: 1%;
	margin: 1%;
	border: 1px solid gray;
}

body > div {
	margin: 1% 0;
}

.datasets, .documents {
	width: 45%;
	float: left;
}

h1, h2, h3, h4, h5 {
	font-size: inherit;
	padding: 0.5em 0;
	margin: 0;
}

h1:before { content: '# '; }
h2:before { content: '## '; }
h3:before { content: '### '; }
h4:before { content: '#### '; }
h5:before { content: '##### '; }

.singleDataset.editing {
	background: yellow;
}

.singleDataset button {
	float: right;
}

.singleDataset button.delete, .singleDataset button.dontdelete {
	display: none;
}

.singleDataset textarea, .singleDataset pre {
	width: 80%;
}

.singleDataset textarea {
	height: 5em;
}



.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
