

* {
	background: rgba(150,200,255,0.33);
}


html, body {
	margin: 0;
	background: #123;
	font-family: "Book Antiqua", Georgia, serif;
}

div, pre {
	padding: 5px;
	margin: 5px 0 0 0;
}

.datasets, .documents {
	width: 47%;
	float: left;
}

.datasets button,
.documents button
{
	float: right;
}


h1, h2, h3, h4, h5 {
	font-size: inherit;
	padding: 0.5em 0;
	margin: 0;
}

h1:before, h2:before, h3:before, h4:before, h5:before {
	color: #ccc;
	font-weight: normal;
	font-size: 75%;
}

/*
h1:before { content: '# '; }
h2:before { content: '## '; }
h3:before { content: '### '; }
h4:before { content: '#### '; }
h5:before { content: '##### '; }
*/

.singleDataset.editing,
.singleDocument.editing
{
	background: yellow;
}

.singleDataset.chosen,
.singleDocument.chosen
{
	border: 10px solid red;
}

.singleDataset button,
.singleDocument button
{
	float: right;
}

.singleDataset button.delete, .singleDataset button.dontdelete,
.singleDocument button.delete, .singleDocument button.dontdelete
{
	display: none;
}

.singleDataset textarea, .singleDataset pre,
.singleDocument textarea, .singleDocument pre
{
	margin: 5px 5px 5px auto;
	width: 93%;
	height: 5em;
	overflow: auto;
}

.result {
	padding: 1em;
	font-size: 150%;
	color: #111;
}

.result .subtle {
	display: block;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.result .htmlresult .html * {
	background: none;
}

.result .htmlresult .html {
	background: white;
	padding: 2em;
	color: #111;
}

.result .htmlresult .html h5 {	font-size: inherit; }
.result .htmlresult .html h4 {	font-size: 120%; }
.result .htmlresult .html h3 {	font-size: 144%; }
.result .htmlresult .html h2 {	font-size: 172%; }
.result .htmlresult .html h1 {	font-size: 207%; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
